header{
    height: 50px;
    background-color: white;
}

#flipper{
    margin-top: 50px;
    margin-left: 230px;
    font-size: 20px;
    font-weight: bold;
    color:aquamarine;
}

#simple{
    margin-top: -20px;
    margin-left: 830px;
    font-size: 20px;
}

#hex{
    margin-top:-20px;
    margin-left: 930px;
    font-size: 20px;
}

#tipos{
    margin-top: 250px;
    margin-left: 400pt;
    font-size: 40px;
    padding: 10px 30px 10px 30px;
}

#color{
    margin-top: 200px;
    margin-left: 450pt;
    font-size: 40px;
    padding: 10px 30px 10px 30px;
}

button {
    position:absolute;
    margin-top: 150px;
    margin-left: 30pt;
    border-radius: 5px;
    border-color:cadetblue;
    padding: 5px 20px;
}